* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
}
.section-one {
  width: 1920px;
  height: 850px;
  background: #fdeef1;
}
.main-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
}
.description {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.btn {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  gap: 10px;
  color: white;
  border: none;
  font-size: 20px;
}
.image-one {
  width: 635px;
  height: 800px;
  margin-top: 50px;
  margin-right: 240px;
}
.section-one {
  display: flex;
  justify-content: space-between;
}
.section-one-one {
  margin-top: 197px;
  margin-left: 240px;
  margin-bottom: 147px;
}
.btn-two {
  margin-left: 603px;
}
.section-two {
  width: 1922px;
  height: 620px;
  display: flex;
  justify-content: space-between;
}
.image-two {
  margin-top: 100px;
  margin-right: 429px;
  margin-bottom: 100px;
  width: 318px;
  height: 420px;
}
.title {
  margin-top: 230px;
  margin-left: 423px;
  font-size: 40px;
}
.two {
  margin-left: 395px;
  margin-top: 24px;
  margin-bottom: 32px;
  text-align: center;
  width: 594px;
}
.social {
  width: 1920px;
  height: 4867px;
}
.instagram {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-bottom: 24px;
}
.social-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-left: 663px;
}
.image-section{
  margin-left: 240px;
  margin-right: 240px;
  display: flex;
  gap: 24px;
  margin-bottom: 128px;
}

